/* Per togliere la freccetta del dropdown che react-bootstrap aggiunge di default */
.dropdown-toggle::after {
  display: none !important;
}

.navbar-color {
  background-color: #373c41 !important;
}
/* Filtro per rendere l'svg bianco */
.logo-white {
  filter: brightness(0) invert(1);
}

.small-text {
  font-size: 0.7rem;
}

.fs-8 {
  font-size: 0.1;
}

.img-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.img-hover:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25) !important;
}
